.exit-button {
    display: flex;
    align-items: center;
    gap: 0.5em;

	background-color: red;
	color: #f2f2f2;
	border: none;
	border-radius: 5px;
    font-size: 14pt;
	padding: 5px 10px 5px 5px;
	cursor: pointer;
    transition: 0.3s;
}

.exit-button:hover {
	background-color: darkred;
}
