.toggle-container {
	position: relative;
	
    width: 60px;
	height: 30px;
	background-color: red;
	
    border-radius: 15px;
	cursor: pointer;
}

.toggle-container.on {
	background-color: #3498db;
}

.toggle-slider {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #f2f2f2;

	border-radius: 50%;
	transition: 0.3s;
}

.toggle-container.on .toggle-slider {
	transform: translateX(30px);
}
